body{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
  background-color: aqua;
}

*{
  box-sizing: border-box;
}

.container{
    text-align: center;
    top: 50%;
    left:50%;
    position: absolute;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

#Stop{
  background-color: white;
  color: black;
}

#Stop:hover{
  background-color: #e0e0e0;
}
#Start{
  background-color: white;
  color: black;
}

#Start:hover{
  background-color: #e0e0e0;
}
#Reset{
  background-color: white;
  color: black;
}

#Reset:hover{
  background-color: #e0e0e0;
}

